*{
    padding:0;
    margin:0;
}
body{
    font-size:14px;
}
li{
	list-style-type: none;
}
a{color:#333333;}
a:hover{color: #00AA88;}

.button_title{
  border: 1px solid #00aa88;
  color: #00aa88;
  width: 64px;
}
.button_title:hover{
  border: 1px solid #00aa88;
  color: #00aa88;
}
/******字体大小*******/
.font_12{font-size: 12px;}
.font_16{font-size: 16px;}
.font_18{font-size: 18px;}
.font_20{font-size: 20px;}

/******文本*******/
.text_center{text-align: center}
.text_left{text-align: left}
.text_right{text-align: right}

.font_weight_bold{font-weight : bold;}
.vertical_middle{vertical-align: middle;}
.text_ellipsis{overflow: hidden !important;white-space: nowrap;text-overflow: ellipsis;}
.text_justify{text-justify: inherit;}
.twoline_ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
	-webkit-line-clamp: 2;
	/* autoprefixer: off*/
	-webkit-box-orient: vertical;
	/* autoprefixer: on*/
    white-space: normal;
}

/******宽度*******/
.all_width{width: 100%;}
.width_50{width: 50%;}

/******高度*******/
.all_height{height: 100%;}
.height_40px{height: 40px;}

.line_height_25px{line-height: 25px;}
.line_height_30px{line-height: 30px;}
.line_height_32px{line-height: 32px;}
/******字体颜色*******/
.color_title{color: #00AA88;}
.hover_title:hover{color: #00AA88;}
.color_fff{color: #fff;}
.color_fff:hover{color: #fff;}
.color_999{color: #999;}
.color_999:hover{color: #999;}
.color_666{color: #666;}
.color_link{color: #4276DF;}

/******背景颜色*******/
.bg_title{background: #00AA88;}
.bg_white{background: #FFFFFF;}
.bg_f5{background: #F5F5F5;}

/******margin*******/
.margin_15{margin: 15px}
.margin_top_5{margin-top: 5px;}
.margin_top_10{margin-top: 10px;}
.margin_top_15{margin-top: 15px;}
.margin_top_20{margin-top: 20px;}
.margin_top_30{margin-top: 30px;}
.margin_top_50{margin-top: 50px;}

.margin_bottom_20{margin-bottom: 20px}
.margin_bottom_30{margin-bottom: 30px}

.margin_left_10{margin-left: 10px;}
.margin_left_20{margin-left: 20px;}
.margin_left_30{margin-left: 30px;}

.margin_right_10{margin-right: 10px;}
.margin_right_20{margin-right: 20px;}
.margin_right_30{margin-right: 30px;}
.margin_right_40{margin-right: 40px;}

/******padding*******/    
.padding_20{padding: 20px;}
.padding_15{padding: 15px;}
.padding_top_3{padding-top: 3px;}
.padding_top_10{padding-top: 10px;}
.padding_top_20{padding-top: 20px;}
.padding_top_30{padding-top: 30px;}
.padding_top_40{padding-top: 40px;}
.padding_top_50{padding-top: 50px;}

.padding_left_5{padding-left: 5px;} 
.padding_left_14{padding-left: 14px;}
.padding_left_10{padding-left: 10px;}
.padding_left_20{padding-left: 20px;}
.padding_left_25{padding-left: 25px;}

.padding_right_10{padding-right: 10px;}
.padding_right_20{padding-right: 20px;}
.padding_right_24{padding-right: 24px;}

.padding_bottom_10{padding-bottom: 10px;}
.padding_bottom_20{padding-bottom: 20px;}
.padding_bottom_30{padding-bottom: 30px;}
.padding_bottom_40{padding-bottom: 40px;}
.padding_bottom_50{padding-bottom: 50px;}
.padding_bottom_80{padding-bottom: 80px;}
/******浮动*******/
.float_left{float:left;}
.float_right{float:right;}
/*清除浮动*/
.clearfix:before,.clearfix:after{display:table;content:" ";clear:both}

/******取消ul默认样式*******/
.list_unstyled{list-style: none;}
.ul_inline>li{float: left;}

/*鼠标形状*/
.pointer{cursor:pointer}

/******定位*******/
.relative{position: relative;}

.block{display: block;}
.hide{display: none;}
.inline_block{display: inline-block;}
/*头部输入框样式*/
.search_box .ivu-input{height: 50px;border-radius:25px;padding:15px;font-size: 14px;}
.search_box .ivu-input-icon{font-size:30px;color:#00AA88;line-height:50px;right:10px}

/*内容居中容器*/
.box_center_1200{
   width:1200px;
   margin:0 auto; 
}
/*修改分页样式*/
.container .ivu-page-item{background: #F5F5F5;}
.container .ivu-page-next, .ivu-page-prev{background: #F5F5F5;}
.container .ivu-page-next:hover a,.container .ivu-page-prev:hover a,.container .ivu-page-item:hover a,.container .ivu-page-item-active a,.container .ivu-page-item-active:hover a{color: #00AA88;}
.container .ivu-page-item:hover,.container .ivu-page-item-active {border-color: #00AA88;}
.container .ivu-page-disabled a {color: #ccc !important;}
/*修改tip样式*/
.detailBox .ivu-tooltip-light .ivu-tooltip-inner{color: #f09105;border: 1px solid #f09105}
.detailBox .ivu-tooltip-light.ivu-tooltip-popper[x-placement^=right] .ivu-tooltip-arrow{border-right-color:#f09105}

/*气泡提示*/
.tooltip {
  position: absolute;
  top: -4px;
  right: -220px;
}
.triangle{
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-right-color: #f09105;
  top: 50%;
  left: -6px;
  margin-top: -7px;
  border-width: 7px 7px 7px 0;
}
.triangle:after{
  content: '';
  position: absolute;
  top: -6px;
  left: 1px;
  border-top: 6px solid transparent;
  border-right: 6px solid #FFFFFF;
  border-bottom: 6px solid transparent;
}
.tooltip_txt{
  max-width: 250px;
  min-height: 34px;
  color: #f09105;
  border: 1px solid #f09105;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
  white-space: nowrap;
}


