/*颜色变量*/
/**通用**/
div {
  box-sizing: border-box;
}
i {
  font-style: normal;
}
.block_center {
  display: block;
  text-align: center;
}
.border_bottom_1 {
  border-bottom: 1px dotted #e6e6e6;
}
.color_f09105 {
  color: #f09105;
}
.color_ccc {
  color: #ccc;
}
.number_add_reduce {
  width: 80px;
  height: 22px;
  border: 1px solid #cccccc;
  font-size: 12px;
  position: relative;
  top: 59px;
  line-height: 22px;
  margin: 0 auto;
  overflow: hidden;
}
.number_add_reduce span,
.number_add_reduce b {
  display: inline-block;
  text-align: center;
}
.number_add_reduce span {
  width: 17px;
  cursor: pointer;
  line-height: 18px;
}
.number_add_reduce input {
  display: inline-block;
  width: 100%;
  border: 0;
  height: 20px;
  text-align: center;
  position: relative;
  top: -1px;
}
.number_add_reduce .number_value {
  width: 44px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.order_title {
  height: 48px;
  line-height: 48px;
  background: #fafafa;
}
.order_title span {
  display: inline-block;
  width: 122px;
  text-align: center;
  border-bottom: 2px solid #00aa88;
  font-size: 16px;
}
.table_block {
  display: table;
}
.table_block .td_block {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.5;
}
.img_middle_center {
  position: relative;
}
.img_middle_center img {
  height: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.text_hover_color {
  color: #00aa88;
  transition: 0.5s;
  cursor: pointer;
}
.text_hover_color:hover {
  color: #666;
}
